﻿// ----------------------------------------------------------------------------
//  Styles that override or extend existing bootstrap styles go here.
// ----------------------------------------------------------------------------

@import '_variables.scss';

.bg-purple {
    background-color: $ecu-purple !important;
}


.progress div {
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.list-group-item {
    &:hover {
        background-color: #ddd;
    }
}

