﻿// ----------------------------------------------------------------------------
//  Styles that apply to the site footer go here.
// ----------------------------------------------------------------------------
#ecu-footer-name {
    font-weight: bold;
    margin-left: 10px;
}

#ecu-footer-contact {
    font-size: 80%;
    margin-left: 10px;
}