﻿// ----------------------------------------------------------------------------
//  Styles that apply to the site header go here.
// ----------------------------------------------------------------------------
#ecu-logo {
    img {
        height: 45px;
    }

    position: absolute;
    top: 2px;
}