﻿// ----------------------------------------------------------------------------
//  Styles that apply to the overall layout of the site go here
// ----------------------------------------------------------------------------

body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
