﻿// ----------------------------------------------------------------------------
//  Styles that apply to the sub nav view go here.
// ----------------------------------------------------------------------------
.nav#rr-nav {
    margin-bottom: 15px;
    font-size: 90%;
}

.nav.rr-nav {
    font-size: 90%;
}

#logout-form {
    display: block;
    padding: 0.5em 1em;
}
