﻿/*
 *
 * This is the file that will be compiled into site.css, whcih will include all
 * the files listed below in the import statements.
 *
 * You can add other styles here that are site wide styles.  They will appear at the bottom
 * of the compiled files, so any styles you add here will take precedance over styles defined
 * in the other imported files.
 *
*/

@import '_variables.scss';
@import '_bootstrap_extensions.scss';
@import '_header.scss';
@import '_subnav.scss';
@import '_layout.scss';
@import '_footer.scss';


/* 
 * All styles defined beyond this point will take precednace over styles defined in other scopes 
*/

.tr-highlight {
    cursor: pointer;

    &:hover {
        background-color: #e1e1e1;
    }
}
