﻿/*
 *
 * This is the file that will be compiled into site.css, whcih will include all
 * the files listed below in the import statements.
 *
 * You can add other styles here that are site wide styles.  They will appear at the bottom
 * of the compiled files, so any styles you add here will take precedance over styles defined
 * in the other imported files.
 *
*/
.bg-purple {
  background-color: #41215e !important; }

.progress div {
  font-weight: bold;
  text-shadow: 1px 1px 2px #000; }

.list-group-item:hover {
  background-color: #ddd; }

#ecu-logo {
  position: absolute;
  top: 2px; }
  #ecu-logo img {
    height: 45px; }

.nav#rr-nav {
  margin-bottom: 15px;
  font-size: 90%; }

.nav.rr-nav {
  font-size: 90%; }

#logout-form {
  display: block;
  padding: 0.5em 1em; }

body {
  padding-bottom: 20px; }

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px; }

#ecu-footer-name {
  font-weight: bold;
  margin-left: 10px; }

#ecu-footer-contact {
  font-size: 80%;
  margin-left: 10px; }

/* 
 * All styles defined beyond this point will take precednace over styles defined in other scopes 
*/
.tr-highlight {
  cursor: pointer; }
  .tr-highlight:hover {
    background-color: #e1e1e1; }
