﻿@model EventAssessment.Models.EvtBops
@{
    ViewBag.Title = "BopsRequest";
}

<h2>Building Operations Request</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.id)

    <div class="form-group">
        @Html.LabelFor(m => m.name) *
        @Html.EditorFor(m => m.name, new {htmlAttributes = new {@class = "form-control col-md-3"}})
        @Html.ValidationMessageFor(m => m.name, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.email) *
        @Html.EditorFor(m => m.email, new {htmlAttributes = new {@class = "form-control col-md-3"}})
        @Html.ValidationMessageFor(m => m.email, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.phone) *
        @Html.EditorFor(m => m.phone, new {htmlAttributes = new {@class = "form-control col-md-3"}})
        @Html.ValidationMessageFor(m => m.phone, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.request) *
        @Html.EditorFor(m => m.request, new {htmlAttributes = new {@class = "form-control col-md-6", @rows = 5}})
        @Html.ValidationMessageFor(m => m.request, "", new {@class = "text-danger"})
    </div>
    <input type="submit" value="Submit Request" class="btn btn-primary"/> 
    <a href="@Url.Action("Review", "Manage", new {id = ViewContext.RouteData.Values["id"]})" class="btn btn-danger">Cancel</a>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}