﻿@model EventAssessment.Models.EvtListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>New/Upcoming Events</h2> 

@if (Model.New.Count > 0)
{
    <hr />
    <h4>New Events</h4>
    foreach (var evt in Model.New)
    {
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle text-muted">@evt.name</h6>
            </div>
            <div class="card-body">
                <h4 class="card-text"><a href="@Url.Action("Review", "Manage", new { id = evt.id} )">@evt.title</a></h4>
                @if (@evt.start_at.Date == @evt.end_at.Date)
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToShortTimeString()</p>
                }
                else
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToString("D"), @evt.end_at.ToShortTimeString()</p>
                }
                
            </div>
        </div>
        <br/>
    }
}

@if (Model.Upcoming.Count > 0)
{
    <hr/>
    <h4>Upcoming Events</h4>
    foreach (var evt in Model.Upcoming)
    {
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle text-muted">@evt.name</h6>
            </div>
            <div class="card-body">
                <h4 class="card-text"><a href="@Url.Action("Review", "Manage", new { id = evt.id} )">@evt.title</a></h4>
                @if (@evt.start_at.Date == @evt.end_at.Date)
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToShortTimeString()</p>
                }
                else
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToString("D"), @evt.end_at.ToShortTimeString()</p>
                }

            </div>
        </div>
        <br />
    }
}