﻿@using EventAssessment.Models
@model ManageViewModel
@{
    ViewBag.Title = "Review Event";
}

<h2>Review Event</h2>
<hr />
@if (Model.EvtFive.approved != true)
{
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="approve-tab" data-toggle="tab" href="#approve" role="tab" aria-controls="approve" aria-expanded="true">Approve</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reject-tab" data-toggle="tab" href="#reject" role="tab" aria-controls="reject">Reject</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="approve" role="tabpanel" aria-labelledby="approve-tab">
            @using (Html.BeginForm("Approve", "Manage", FormMethod.Post))
            {
                <input type="hidden" id="id" name="id" value="@Model.EvtOne.id" />
                <input type="hidden" id="email" name="email" value="@Model.EvtOne.email" />
                <p class="mt-3">
                    <em>Text entered below will be emailed to the user. Uncheck 'Send Reply' to bypass an email.</em>
                </p>
                @Html.CheckBox("reply", true)
                <label>Send Reply to @Model.EvtOne.email</label>
                <br />
                <textarea id="comment" class="form-control" name="comment" rows="5">
Thank you for submitting your event proposal.
&#013;
I am pleased to inform you that @Model.EvtOne.title has been APPROVED for the following date, time and location
&#013;
&#8226; @Model.EvtOne.start_at.ToShortDateString()
&#8226; @Model.EvtOne.start_at.ToShortTimeString()
&#013;
I will be in touch with you soon regarding the details of your upcoming event.
&#013;
Sincerely,
&#013;
Charlotte Fitz Daniels
252-328-0287
                </textarea>
                <br />
                <input type="submit" class="btn btn-primary" value="Approve Event" />
            }
        </div>
        <div class="tab-pane fade" id="reject" role="tabpanel" aria-labelledby="reject-tab">
            @using (Html.BeginForm("Reject", "Manage", FormMethod.Post))
            {
                <input type="hidden" id="id" name="id" value="@Model.EvtOne.id" />
                <input type="hidden" id="email" name="email" value="@Model.EvtOne.email" />
                <p class="mt-3">
                    <em>Text entered below will be emailed to the user. Uncheck 'Send Reply' to bypass an email.</em>
                </p>
                @Html.CheckBox("breply", true)
                <label>Send Reply to @Model.EvtOne.email</label>
                <br />
                <textarea id="comment" class="form-control" name="comment" rows="5">
Thank you for submitting your event proposal.  I am sorry to inform you that Joyner Library is not able to host your event.  For other event venue options on campus, please contact Central Reservations Office: www.cro.ecu.edu / cro@ecu.edu / 252-328-4731
&#013;
Sincerely,
&#013;
Charlotte Fitz Daniels
Events & Programs Coordinator
            </textarea>
                <br />
                <input type="submit" class="btn btn-danger" value="Reject Event" />
            }
        </div>
    </div>
}

<hr />

@if (Model.EvtFive.approved == true)
{
    if (Model.EvtFive.assessed == true)
    {
        <div class="alert alert-warning pb-0" role="alert">
            <p>Assessed:  @Model.EvtFive.assessed_date.Value.ToString("f")</p>
        </div>
    }
    <div class="alert alert-warning pb-0" role="alert">
        <p>Approved:  @Model.EvtFive.decision_date.Value.ToString("f")</p>
        <p>
            <a href="http://rooms.lib.ecu.edu/joyner/admin/calendar/meeting/@Model.EvtOne.start_at.ToString("yyyyMMdd")" target="_blank">Room Reservation</a> |
            <a href="http://25live.collegenet.com/ecu/#rsrvwiz" target="_blank">25Live</a> |
            @if (Model.EvtFive.bops_request == null)
            {
                <a href="@Url.Action("BopsRequest", "Manage", new { id = Model.EvtOne.id })" target="_blank">Building Ops Request</a>
            }
            else
            {
                <span class="text-muted">Building Ops Request Sent</span>
            }
        </p>
        @if (Model.EvtOne.start_at.Date >= DateTime.Now.Date)
        {

        }
    </div>
}
<div class="alert alert-warning" role="alert">
    Submitted:  @Model.EvtFive.submitted.Value.ToString("f")
</div>

<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.title)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.title)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.sponsors)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.sponsors)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.name)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.name)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.email)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.email)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.phone)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.phone)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.faculty_staff)</dt>
    <dd class="col-sm-8">@(Model.EvtOne.faculty_staff ? "Yes" : "No")</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.start_at)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.start_at)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.end_at)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.end_at)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.need_setup)</dt>
    <dd class="col-sm-8">@Model.EvtOne.need_setup</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.need_cleanup)</dt>
    <dd class="col-sm-8">@Model.EvtOne.need_cleanup</dd>

    <dt class="col-sm-4">Event time including setup/cleanup</dt>
    <dd class="col-sm-8">
        @{
            var start = Model.EvtOne.need_setup == SetupCleanup.ThirtyMinutes ? Model.EvtOne.start_at.AddMinutes(-30) : Model.EvtOne.need_setup == SetupCleanup.SixtyMinutes ? Model.EvtOne.start_at.AddHours(-1) : Model.EvtOne.start_at;
            var end = Model.EvtOne.need_cleanup == SetupCleanup.ThirtyMinutes ? Model.EvtOne.end_at.AddMinutes(30) : Model.EvtOne.need_cleanup == SetupCleanup.SixtyMinutes ? Model.EvtOne.end_at.AddHours(1) : Model.EvtOne.end_at;
        }
        @if (start.Date == end.Date)
        {
            <b>@start.ToString("f") - @end.ToShortTimeString()</b>
        }
        else
        {
            <b>@start.ToString("f") - @end.ToString("f")</b>
        }

    </dd>
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.one_card)</dt>
    <dd class="col-sm-8">@Model.EvtOne.one_card</dd>
</dl>
<a href="@Url.Action("EditStepOne", "Home", new { Model.EvtOne.id} )">Edit Why & When Data</a>
<hr />
<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.est_attendance)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtTwo.est_attendance)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.target_audience)</dt>
    <dd class="col-sm-8">
        @foreach (var c in Model.EvtTwo.target_audience.Trim().ToCharArray())
        {
            switch (c)
            {
                case '1':
                    <text>Undergraduate Students; </text>
                    break;
                case '2':
                    <text>Graduate Students; </text>
                    break;
                case '3':
                    <text>Faculty/Staff; </text>
                    break;
                case '4':
                    <text>Community Members; </text>
                    break;
                case '5':
                    <text>K-12; </text>
                    break;
                case '6':
                    <text>Area Educators; </text>
                    break;
                case '7':
                    <text>Other: </text>
                    break;
            }
        }
        @Model.EvtTwo.target_audience_addl
    </dd>
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.passport_event)</dt>
    <dd class="col-sm-8">@(Model.EvtTwo.passport_event == 1 ? "Yes" : Model.EvtTwo.passport_event == 2 ? "No" : "Unsure")</dd>
</dl>
<a href="@Url.Action("EditStepTwo", "Home", new { Model.EvtOne.id} )">Edit Who Data</a>
<hr />
<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.description)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.description)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.goals)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.goals)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.priority_id)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.priority_id)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.supports_priority)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.supports_priority)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.supports_priority_addl)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.supports_priority_addl)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.gone_well)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.gone_well)</dd>
</dl>
<a href="@Url.Action("EditStepThree", "Home", new { Model.EvtOne.id} )">Edit Why Data</a>
<hr />


<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.setup_id)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFour.setup_id)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.food_drink)</dt>
    <dd class="col-sm-8">@(Model.EvtFour.food_drink != null && Model.EvtFour.food_drink.Value ? "Yes" : "No")</dd>

    @if (Model.EvtFour.food_drink == true)
    {
        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.provide_food)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFour.provide_food)</dd>
    }


    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.logistical_needs)</dt>
    <dd class="col-sm-8">
        @if (string.IsNullOrWhiteSpace(Model.EvtFour.logistical_needs) == false)
        {
            foreach (var c in Model.EvtFour.logistical_needs.Trim().ToCharArray())
            {
                switch (c)
                {
                    case '1':
                        <text>Welcome table; </text>
                        break;
                    case '2':
                        <text>Food/drink tables; </text>
                        break;
                    case '3':
                        <text>Microphone; </text>
                        break;
                    case '4':
                        <text>Powerpoint/other presentation; </text>
                        break;
                    case '5':
                        <text>Movie/film; </text>
                        break;
                    case '6':
                        <text>Other</text>
                        break;

                }
            }
        }
        else
        {
            <text>No logistical needs required</text>
        }
    </dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.other_needs)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFour.other_needs)</dd>
</dl>
<a href="@Url.Action("EditStepFour", "Home", new { Model.EvtOne.id} )">Edit How Data</a>
<hr />
<dl class="row">
    @if (Model.EvtOne.faculty_staff)
    {
        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.marketing_consult)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.marketing_consult != null && Model.EvtFive.marketing_consult.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.digital_marketing)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.digital_marketing != null && Model.EvtFive.digital_marketing.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.print_marketing)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.print_marketing != null && Model.EvtFive.print_marketing.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.other_assistance)</dt>
        <dd class="col-sm-8">@Model.EvtFive.other_assistance</dd>
    }
    else
    {
        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.marketing_contact)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFive.marketing_contact)</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.university_calendar)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.university_calendar.Value ? "Yes" : "No")</dd>
    }

</dl>
<a href="@Url.Action("EditStepFive", "Home", new { Model.EvtOne.id} )">Edit Marketing Data</a>

