﻿@using EventAssessment.Models
@model EventAssessment.Models.AssessmentEvent
@{
    ViewBag.Title = "Event Feedback";
}

<h2>Feedback for @Model.title</h2>
<hr/>
<div class="alert alert-danger col-md-6" role="alert">
    Fields marked with and asterisk (*) are mandatory.
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.event_id)
    <div class="form-group">
        @Html.LabelFor(m => m.more_likely) <span class="mr-2">*</span><br/>
        @Html.RadioButtonFor(model => model.more_likely, "true")<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.more_likely, "false")<span class="ml-1 mr-3">No</span>
        @Html.ValidationMessageFor(m => m.more_likely, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.increase_knowledge) <span class="mr-2">*</span><br />
        @Html.RadioButtonFor(model => model.increase_knowledge, "true")<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.increase_knowledge, "false")<span class="ml-1 mr-3">No</span>
        @Html.ValidationMessageFor(m => m.increase_knowledge, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.recommend) <span class="mr-2">*</span><br />
        @Html.RadioButtonFor(model => model.recommend, "true")<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.recommend, "false")<span class="ml-1 mr-3">No</span>
        @Html.ValidationMessageFor(m => m.recommend, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>How do you use the library? (choose one) *</label>
        <div class="list-group col-md-6 mb-3">
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "ECUUndergraduate", new { Checked = "checked" })<span class="ml-1 mr-3">ECU Undergraduate Student</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "ECUGraduate")<span class="ml-1 mr-3">ECU Graduate Student</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "ECUFacultyStaff")<span class="ml-1 mr-3">ECU Faculty/Staff</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "VisitingFacultyStaff")<span class="ml-1 mr-3">Visiting Faculty/Staff</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "VisitingStudent")<span class="ml-1 mr-3">Visiting Student</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "CommunityMember")<span class="ml-1 mr-3">Community Member</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "AreaEducator")<span class="ml-1 mr-3">Area Educator</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.library_use, "Other")<span class="ml-1 mr-3">Other</span><br/>
                @Html.EditorFor(m => m.library_use_other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.library_use_other, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>How did you hear about this event? (choose as many as apply)</label><br />
        @for (var i = 0; i < Model.HearAboutEvents.Items.Count; i++)
        {
            @Html.CheckBoxFor(m => Model.HearAboutEvents.Items[i].IsChecked)
            <span class="ml-1 mr-3">@Model.HearAboutEvents.Items[i].Text</span>
            @Html.HiddenFor(m => Model.HearAboutEvents.Items[i].Value)
            @Html.HiddenFor(m => Model.HearAboutEvents.Items[i].Text)<br />
        }
    </div>
    <div style="color:red">@Html.ValidationSummary(false)</div>
    <div class="form-group">
        @Html.EditorFor(m => m.how_hear_more, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>
    <div class="form-group">
        <label>Why did you choose to attend this event or program? (choose as many as apply)</label><br />
        @for (var i = 0; i < Model.WhyAttends.Items.Count; i++)
        {
            @Html.CheckBoxFor(m => Model.WhyAttends.Items[i].IsChecked)
            <span class="ml-1 mr-3">@Model.WhyAttends.Items[i].Text</span>
            @Html.HiddenFor(m => Model.WhyAttends.Items[i].Value)
            @Html.HiddenFor(m => Model.WhyAttends.Items[i].Text)<br />
        }
    </div>
    <div style="color:red">@Html.ValidationSummary(false)</div>
    <div class="form-group">
        @Html.EditorFor(m => m.why_attend_more, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.how_helpful)
        @Html.EditorFor(m => m.how_helpful, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.how_improved)
        @Html.EditorFor(m => m.how_improved, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>
    <div class="form-group">
        @switch (Model.priority_id)
        {
            case StrategicPriority.MaximizeStudentSuccess:
                <label>The library is here to help! Would you like to learn more about how the library can support you with your classes?</label><br/>
            break;
            case StrategicPriority.ImpactResearch:
                <label>Would you like to learn more about how the library can support your research?</label><br />
                break;
            case StrategicPriority.ServeThePublic:
                <label>Would you like more information regarding library resources that support regional history, cultural experiences, and lifelong learning?</label><br />
                break;
            case StrategicPriority.Stewardship:
                <label>Would you like more information about supporting library programming?</label><br />
                break;
        }
        @Html.RadioButtonFor(model => model.learn_more, "true")<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.learn_more, "false", new{@checked="true"})<span class="ml-1 mr-3">No</span>
    </div>
    
    <div class="form-group">
        <label>IF yes,- Please provide us with your prefered method contact?</label><br/>
        @Html.EditorFor(m => m.contact, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>

    <div class="form-group">
        <label>Will you allow us to use portions of your responses in future promotional material?</label>
        <div class="list-group col-md-6 mb-3">
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.use_responses, "Yes", new { Checked = "checked" })<span class="ml-1 mr-3">Yes</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.use_responses, "Anonymously")<span class="ml-1 mr-3">Yes, but anonymously</span>
            </div>
            <div class="list-group-item">
                @Html.RadioButtonFor(model => model.use_responses, "No")<span class="ml-1 mr-3">No</span>
            </div>
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
