﻿@model List<EventAssessment.Models.EvtItemViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Assessment</h2>
<hr />
@if (Model.Count > 0)
{
    foreach (var evt in Model)
    {
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle text-muted">@evt.name</h6>
            </div>
            <div class="card-body">
                <h4 class="card-text"><a href="@Url.Action("Feedback", "Assessment", new { id = evt.id} )">@evt.title</a></h4>
                @if (@evt.start_at.Date == @evt.end_at.Date)
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToShortTimeString() - <a href="@Url.Action("Review", "Manage", new { id = evt.id} )">Event Details</a></p>
                }
                else
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToString("D"), @evt.end_at.ToShortTimeString() - <a href="@Url.Action("Review", "Manage", new { id = evt.id} )">Event Details</a></p>
                }
                
                @if (evt.assessment_count > 0)
                {
                    <a href="@Url.Action("List", "Assessment", new { evt.id })" class="btn btn-primary mb-3">
                        Event Feedback <span class="badge badge-light">@evt.assessment_count</span>
                    </a>
                }
                else
                {
                    <div class="mb-4">No feedback received</div>
                }


                @using (Html.BeginForm("Assess", "Manage", FormMethod.Post))
                {
                    <input type="hidden" id="id" name="id" value="@evt.id" />
                    <input type="submit" class="btn btn-danger" value="Close Assessment" onclick="return confirm('Are you sure you want to close assessment for this event?');"/>
                    
                }

            </div>
        </div>
        <br />
    }
}
