﻿@using System.Text.RegularExpressions
@using EventAssessment.Models
@model EventAssessment.Models.AssessmentEvent
@{
    ViewBag.Title = "View";
}

<h2>View Assessment for @Model.title</h2>
<label>Received @Model.submitted.ToString("f")</label>
<hr/>
<dl class="row">
    <dt class="col-sm-6">@Html.LabelFor(m => m.more_likely)</dt>
    <dd class="col-sm-6">@(Model.more_likely.Value ? "Yes" : "No")</dd>
    <dt class="col-sm-6">@Html.LabelFor(m => m.increase_knowledge)</dt>
    <dd class="col-sm-6">@(Model.increase_knowledge.Value ? "Yes" : "No")</dd>
    <dt class="col-sm-6">@Html.LabelFor(m => m.recommend)</dt>
    <dd class="col-sm-6">@(Model.recommend.Value ? "Yes" : "No")</dd>
    <dt class="col-sm-6"><label>How do you use the library?</label></dt>
    <dd class="col-sm-6">@Model.library_use</dd>
    <dt class="col-sm-6"><label>How did you hear about this event?</label></dt>
    <dd class="col-sm-6">
        @{
            var digitsOnly = new Regex(@"[^\d]");
            var stripped = digitsOnly.Replace(Model.how_hear, "");
        }
        @foreach (var c in stripped.Trim().ToCharArray())
        {
            switch (c)
            {
                case '1':
                    <text>Email; </text>
                    break;
                case '2':
                    <text>Social media; </text>
                    break;
                case '3':
                    <text>Website; </text>
                    break;
                case '4':
                    <text>Class/Instructor; </text>
                    break;
                case '5':
                    <text>Friend; </text>
                    break;
                case '6':
                    <text>Other: @Model.how_hear.Replace(stripped, "") </text>
                    break;
            }
        }
    </dd>
    <dt class="col-sm-6"><label>Why did you choose to attend this event or program?</label></dt>
    <dd class="col-sm-6">
        @{
            var stripped2 = digitsOnly.Replace(Model.why_attend, "");
        }
        @foreach (var c in stripped2.Trim().ToCharArray())
        {
            switch (c)
            {
                case '1':
                    <text>Class requirement or incentive; </text>
                    break;
                case '2':
                    <text>Interest in topic; </text>
                    break;
                case '3':
                    <text>Related to area of study; </text>
                    break;
                case '4':
                    <text>Passport event; </text>
                    break;
                case '5':
                    <text>Other: @Model.why_attend.Replace(stripped2, "") </text>
                    break;
            }
        }
    </dd>
    <dt class="col-sm-6">@Html.LabelFor(m => m.how_helpful)</dt>
    <dd class="col-sm-6">@Model.how_helpful</dd>
    <dt class="col-sm-6">@Html.LabelFor(m => m.how_improved)</dt>
    <dd class="col-sm-6">@Model.how_improved</dd>
    @switch (Model.priority_id)
    {
        case StrategicPriority.MaximizeStudentSuccess:
            <dt class="col-sm-6">The library is here to help! Would you like to learn more about how the library can support you with your classes?</dt>
            break;
        case StrategicPriority.ImpactResearch:
            <dt class="col-sm-6">Would you like to learn more about how the library can support your research?</dt>
            break;
        case StrategicPriority.ServeThePublic:
            <dt class="col-sm-6">Would you like more information regarding library resources that support regional history, cultural experiences, and lifelong learning?</dt>
            break;
        case StrategicPriority.Stewardship:
            <dt class="col-sm-6">Would you like more information about supporting library programming?</dt>
            break;
    }
    <dd class="col-sm-6">@(Model.learn_more.Value ? "Yes" : "No")</dd>
    
    <dt class="col-md-6"><label>IF yes,- Please provide us with your prefered method contact?</label></dt>
    <dd class="col-sm-6">@Model.contact</dd>
    <dt class="col-md-6"><label>Will you allow us to use portions of your responses in future promotional material? </label></dt>
    <dd class="col-sm-6">@Model.use_responses</dd>
</dl>

