﻿@model PagedList.IPagedList<EventAssessment.Models.Event>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Reporting";
}

<h2>Reporting</h2>
<hr/>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Start Date</label>
                <input id="startdate" name="startdate" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>End Date</label>
                <input id="enddate" name="enddate" type="text" class="form-control">
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="View Events" />
}

@if (@Model != null)
{
    <hr/>
    <h3>@ViewBag.DisplayStart - @ViewBag.DisplayEnd</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Coordinator</th>
            <th>Title</th>
            <th>@Html.ActionLink("Strategic Priority", "Index", new { startdate = ViewBag.StartDate, enddate = ViewBag.EndDate, sortOrder = ViewBag.StrategicSortParm })</th>
        </tr>
        </thead>
        @foreach (var evt in Model)
        {
            <tr onclick="window.location='@Url.Action("Review", "Manage", new { id = evt.id })';" class="tr-highlight">
                <td>@evt.email</td>
                <td>@evt.title</td>
                <td>@evt.priority_id</td>
            </tr>
        }
       
    </table>
    
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { startdate= ViewBag.StartDate, enddate = ViewBag.EndDate, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/flatpickr")
    @Styles.Render("~/Content/flatpickr")
    @Styles.Render("~/Content/pagedlist")
    <script type="text/javascript">
        $("#startdate").flatpickr({
            dateFormat: "Y-m-d"
        });

        $("#enddate").flatpickr({
            dateFormat: "Y-m-d"
        });
    </script>
}