﻿<!DOCTYPE html>
<!--
    ______________  __     __    _ __                    _
   / ____/ ____/ / / /    / /   (_) /_  _________ ______(_)__  _____
  / __/ / /   / / / /    / /   / / __ \/ ___/ __ `/ ___/ / _ \/ ___/
 / /___/ /___/ /_/ /    / /___/ / /_/ / /  / /_/ / /  / /  __(__  )
/_____/\____/\____/    /_____/_/_.___/_/   \__,_/_/  /_/\___/____/

-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - ECU Libraries</title>
    <link rel="shortcut icon" type="image/x-icon" href="//www.ecu.edu/images/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-purple small">
        <a href="http://www.ecu.edu" id="ecu-logo">
            <img alt="ecu workmark" src="@Url.Content("~/Content/Images/ecu-libs-logo.svg")" />
        </a>
        <span class="navbar-text">&nbsp;</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ecu-nav" aria-controls="ecu-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="ecu-nav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li><a href="http://lib.ecu.edu/hours" class="nav-link">Hours</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Libraries & Collections
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a href="http://library.ecu.edu/" class="dropdown-item">Joyner Library</a>
                        <a href="http://hsl.ecu.edu/" class="dropdown-item">Laupus Health Sciences Library</a>
                        <a href="http://library.ecu.edu/music/" class="dropdown-item">Music Library</a>
                        <div class="dropdown-divider"></div>
                        <a href="http://digital.lib.ecu.edu" class="dropdown-item">Digital Collections</a>
                        <a href="http://library.ecu.edu/specialcollections/" class="dropdown-item">Special Collections</a>
                        <a href="http://library.ecu.edu/trc/" class="dropdown-item">Teaching Resources Center</a>
                        <a href="http://thescholarship.ecu.edu/" class="dropdown-item">The ScholarShip Institutional Repository</a>
                        <a href="http://www.countrydoctormuseum.org/" class="dropdown-item">Country Doctor Museum</a>
                    </div>
                </li>
                <li><a href="http://www.ecu.edu/cs-lib/customcf/eculibraries/v4/eculibrariesgethelppopup.html" class="nav-link">Get Help</a></li>
            </ul>
        </div>
    </nav>
    @Html.Partial("_SubNav")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <span id="ecu-footer-name">East Carolina University</span>
        <div id="ecu-footer-contact">
            East Fifth Street | Greenville, NC 27858-4353 USA | 252.328.6131 | <a onclick="javascript:addURL(this);" href="http://lib.ecu.edu/issues/create/">Contact Webmaster</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        function addURL(element) {
            $(element).attr('href', function () {
                return this.href + '?from=' + window.location.href;
            });
        }
    </script>

</body>
</html>
