﻿@model int

<nav class="breadcrumb">
    @switch (Model)
    {
        case 0:
            <a class="breadcrumb-item" href="#">What & When</a>
            <span class="breadcrumb-item active" href="#">Why</span>
            <span class="breadcrumb-item active" href="#">Who</span>
            <span class="breadcrumb-item active" href="#">How</span>
            <span class="breadcrumb-item active" href="#">Marketing</span>
            break;
        case 1:
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepone" ? "active" : null)" href="@Url.Action("EditStepOne", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">What & When</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editsteptwo" ? "active" : null)" href="@Url.Action("EditStepTwo", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Who</a>
            <span class="breadcrumb-item active" href="#">Who</span>
            <span class="breadcrumb-item active" href="#">How</span>
            <span class="breadcrumb-item active" href="#">Marketing</span>
            break;
        case 2:
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepone" ? "active" : null)" href="@Url.Action("EditStepOne", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">What & When</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editsteptwo" ? "active" : null)" href="@Url.Action("EditStepTwo", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Who</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepthree" ? "active" : null)" href="@Url.Action("EditStepThree", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Why</a>
            <span class="breadcrumb-item active" href="#">How</span>
            <span class="breadcrumb-item active" href="#">Marketing</span>
            break;
        case 3:
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepone" ? "active" : null)" href="@Url.Action("EditStepOne", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">What & When</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editsteptwo" ? "active" : null)" href="@Url.Action("EditStepTwo", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Who</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepthree" ? "active" : null)" href="@Url.Action("EditStepThree", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Why</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepfour" ? "active" : null)" href="@Url.Action("EditStepFour", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">How</a>
            <span class="breadcrumb-item active" href="#">Marketing</span>
            break;
        default:
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepone" ? "active" : null)" href="@Url.Action("EditStepOne", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">What & When</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editsteptwo" ? "active" : null)" href="@Url.Action("EditStepTwo", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Who</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepthree" ? "active" : null)" href="@Url.Action("EditStepThree", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Why</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepfour" ? "active" : null)" href="@Url.Action("EditStepFour", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">How</a>
            <a class="breadcrumb-item @(ViewContext.RouteData.Values["action"].ToString().ToLower() == "editstepfive" ? "active" : null)" href="@Url.Action("EditStepFive", "Home", new { id = ViewContext.RouteData.Values["id"].ToString()})">Marketing</a>
            break;
    }
</nav>
