﻿<div class="row mb-0">
    <div class="col-sm-7">
        <ul id="rr-nav" class="nav flex-column flex-sm-row">
            <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link">New Proposal</a></li>
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item"><a href="@Url.Action("Index", "Manage")" class="nav-link">New Submissions</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Assessment")" class="nav-link">Manage/Assess</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Reporting")" class="nav-link">Reporting</a></li>
            }
        </ul>
    </div>
    <div class="col-sm-5">
        <ul class="nav rr-nav justify-content-sm-end">
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item">
                    <form id="logout-form" action="@System.Configuration.ConfigurationManager.AppSettings["LogoutUrl"]" method="post">
                        <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Home")" />
                        <a href="#" onclick="$('#logout-form').submit();" class="nav-link">
                            Logout
                        </a>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>
