﻿@model EventAssessment.Models.EvtFive

@{
    ViewBag.Title = "Step 5 - Event Assessment";
}

@Html.Partial("_Steps", Model.step)

<h1>Marketing</h1>
<hr />

@if (Model.faculty_staff)
{
    <div class="alert alert-primary" role="alert">
        As an ALS sponsored program, your event will be listed on the University Calendar, and if applicable, a Facebook event will be linked to that calendar posting. 
    </div>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.step)
        @Html.HiddenFor(m => m.faculty_staff)
        
        <div class="form-group">
            @Html.LabelFor(m => m.marketing_consult) <span class="mr-2">*</span><br/>
            @Html.RadioButtonFor(model => model.marketing_consult, "true")<span class="ml-1 mr-3">Yes</span>
            @Html.RadioButtonFor(model => model.marketing_consult, "false")<span class="ml-1 mr-3">No</span>
            @Html.ValidationMessageFor(m => m.marketing_consult, "", new { @class = "text-danger" })
        </div>

        <div class="alert alert-secondary consult" role="alert" style="display: none;">
            Contact Kelly Dilda for a formal press release and announcement, blog post, etc.
        </div>

        <label>Do you need assistance with:</label>

        <div class="form-group ml-4">
            @Html.LabelFor(m => m.digital_marketing) <span class="mr-2">*</span><br />
            @Html.RadioButtonFor(model => model.digital_marketing, "true")<span class="ml-1 mr-3">Yes</span>
            @Html.RadioButtonFor(model => model.digital_marketing, "false")<span class="ml-1 mr-3">No</span>
            @Html.ValidationMessageFor(m => m.digital_marketing, "", new { @class = "text-danger" })
            <div class="alert alert-secondary digital" role="alert" style="display: none;">
                As a reminder, all marketing materials created in other areas must be reviewed prior to distribution.
            </div>
        </div>

        <div class="form-group ml-4">
            @Html.LabelFor(m => m.print_marketing) <span class="mr-2">*</span><br />
            @Html.RadioButtonFor(model => model.print_marketing, "true")<span class="ml-1 mr-3">Yes</span>
            @Html.RadioButtonFor(model => model.print_marketing, "false")<span class="ml-1 mr-3">No</span>
            @Html.ValidationMessageFor(m => m.print_marketing, "", new { @class = "text-danger" })
            <div class="alert alert-secondary print" role="alert" style="display: none;">
                As a reminder, all marketing materials created in other areas must be reviewed prior to distribution.
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.other_assistance)
            @Html.EditorFor(m => m.other_assistance, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        </div>

        <input type="submit" value="Submit Request" class="btn btn-primary"/>
        <a href="@Url.Action("Delete", new { Model.id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event request?');">Cancel Request</a>
    }
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.step)
        @Html.HiddenFor(m => m.faculty_staff)
        
        <div class="form-group">
            @Html.LabelFor(m => m.marketing_contact)
            @Html.EditorFor(m => m.marketing_contact, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            @Html.ValidationMessageFor(m => m.marketing_contact, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.university_calendar) <span class="mr-2">*</span><br />
            @Html.RadioButtonFor(model => model.university_calendar, "true")<span class="ml-1 mr-3">Yes</span>
            @Html.RadioButtonFor(model => model.university_calendar, "false")<span class="ml-1 mr-3">No</span>
            @Html.ValidationMessageFor(m => m.university_calendar, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Submit Request" class="btn btn-primary" />
        <a href="@Url.Action("Delete", new { Model.id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event request?');">Cancel Request</a>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        if ($("#marketing_consult[value='false']").is(":checked")) {
            $(".consult").show();
        }
        if ($("#digital_marketing[value='false']").is(":checked")) {
            $(".digital").show();
        }
        if ($("#print_marketing[value='false']").is(":checked")) {
            $(".print").show();
        }
        $("#marketing_consult[value='true']").click(function () {
            if ($(this).is(":checked")) {
                $(".consult").hide(200);
            }
        });
        $("#marketing_consult[value='false']").click(function() {
            if ($(this).is(":checked")) {
                $(".consult").show(300);
            }
        });

        $("#digital_marketing[value='true']").click(function () {
            if ($(this).is(":checked")) {
                $(".digital").hide(200);
            }
        });
        $("#digital_marketing[value='false']").click(function () {
            if ($(this).is(":checked")) {
                $(".digital").show(300);
            }
        });

        $("#print_marketing[value='true']").click(function () {
            if ($(this).is(":checked")) {
                $(".print").hide(200);
            }
        });
        $("#print_marketing[value='false']").click(function () {
            if ($(this).is(":checked")) {
                $(".print").show(300);
            }
        });
    </script>
}