﻿@model EventAssessment.Models.EvtTwo

@{
    ViewBag.Title = "Step 2 - Event Assessment";
}

@Html.Partial("_Steps", Model.step)

<h1>Who</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.step)
    <div class="form-group">
        @Html.LabelFor(m => m.est_attendance) *
        @Html.EditorFor(m => m.est_attendance, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.est_attendance, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-0">
        <label>Who is your target audience? (select as many as apply)</label><br/>
        <div class="ml-4 mb-0">
        @for (var i = 0; i < Model.TargetAudiences.Items.Count; i++)
        {
            @Html.CheckBoxFor(m => Model.TargetAudiences.Items[i].IsChecked)
            <span class="ml-1 mr-3">@Model.TargetAudiences.Items[i].Text</span>
            @Html.HiddenFor(m => Model.TargetAudiences.Items[i].Value)
            @Html.HiddenFor(m => Model.TargetAudiences.Items[i].Text)<br/>
        }
        </div>
    </div>
    <div style="color:red">@Html.ValidationSummary(false)</div>
    <div class="form-group">
        @Html.EditorFor(m => m.target_audience_addl, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.passport_event) <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.passport_event, 1)<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.passport_event, 2)<span class="ml-1 mr-3">No</span>
        @Html.RadioButtonFor(model => model.passport_event, 3)<span class="ml-1 mr-3">Unsure</span>
        <small class="text-muted d-block mt-0"><a href="http://www.ecu.edu/cs-studentaffairs/crw/Passport-App.cfm">http://www.ecu.edu/cs-studentaffairs/crw/Passport-App.cfm</a></small>
    </div>
    <br/>
    <input type="submit" value="Save & Continue" class="btn btn-primary" />
    <a href="@Url.Action("Delete", new { Model.id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event request?');">Cancel Request</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}