﻿@model EventAssessment.Models.EvtThree

@{
    ViewBag.Title = "Step 3 - Event Assessment";
}

@Html.Partial("_Steps", Model.step)

<h1>Why</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.step)
    <div class="form-group">
        <label for="description" class="mb-0">Event Description *</label>
        <small class="text-muted d-block mb-1">1-2 sentences describing your event</small>
        @Html.EditorFor(m => m.description, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.goals) *
        @Html.EditorFor(m => m.goals, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.goals, "", new { @class = "text-danger" })
    </div>
    <label>Which strategic priority does this event best support? (choose one) *</label>
    <div class="list-group col-md-7 mb-3">
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.priority_id, "MaximizeStudentSuccess", new { Checked = "checked" })<span class="ml-1 mr-3">Maximize Student Success</span>
            <p><small class="text-muted">Support excellence, expand opportunity, and celebrate achievement</small></p>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.priority_id, "ImpactResearch")<span class="ml-1 mr-3">Impact Research</span>
            <p><small class="text-muted">Invest in the people, tools, and facilities needed to conduct mission-driven research</small></p>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.priority_id, "ServeThePublic")<span class="ml-1 mr-3">Serve The Public</span>
            <p><small class="text-muted">Enhance the quality of life of eastern North Carolinians</small></p>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.priority_id, "Stewardship")<span class="ml-1 mr-3">Stewardship</span>
            <p><small class="text-muted">Keep our commitments while being good stewards of resources entrusted to us</small></p>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.supports_priority) *
        @Html.EditorFor(m => m.supports_priority, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.supports_priority, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.supports_priority_addl)
        @Html.EditorFor(m => m.supports_priority_addl, new { htmlAttributes = new { @class = "form-control col-md-6" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.gone_well) *
        @Html.EditorFor(m => m.gone_well, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.gone_well, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Save & Continue" class="btn btn-primary" />
    <a href="@Url.Action("Delete", new { Model.id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event request?');">Cancel Request</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}