﻿@model EventAssessment.Models.EvtFour

@{
    ViewBag.Title = "Step 4 - Event Assessment";
}

@Html.Partial("_Steps", Model.step)

<h1>How</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.step)

    <label>Setup (choose one) *</label>
    <div class="list-group col-md-4 mb-3">
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.setup_id, "LecturePresentation", new { Checked = "checked" })<span class="ml-1 mr-3">Lecture/Presentation</span>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.setup_id, "Reception")<span class="ml-1 mr-3">Reception</span>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.setup_id, "LuncheonDinner")<span class="ml-1 mr-3">Luncheon/Dinner</span>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.setup_id, "Meeting")<span class="ml-1 mr-3">Meeting</span>
        </div>
        <div class="list-group-item">
            @Html.RadioButtonFor(model => model.setup_id, "Other")<span class="ml-1 mr-3">Other</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.food_drink) <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.food_drink, "true")<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.food_drink, "false")<span class="ml-1 mr-3">No</span>
    </div>

    <div class="alert alert-secondary" role="alert">
        
        @Html.LabelFor(m => m.provide_food)<br/>
        <div class="mb-2">@Html.RadioButtonFor(model => model.provider, "Aramark")<span class="ml-1 mr-3">Aramark</span></div>
        <div class="mb-2">@Html.RadioButtonFor(model => model.provider, "Other")<span class="ml-1 mr-3">Other (describe below)</span></div>
        @Html.EditorFor(m => m.provide_food, new {htmlAttributes = new {@class = "form-control col-md-6"}})
    </div>

    <div class="form-group">
        <label>Logistical Needs (choose all that apply)</label><br />
        @for (var i = 0; i < Model.LogisticalNeeds.Items.Count; i++)
        {
            @Html.CheckBoxFor(m => Model.LogisticalNeeds.Items[i].IsChecked)
            <span class="ml-1 mr-3">@Model.LogisticalNeeds.Items[i].Text</span>
            @Html.HiddenFor(m => Model.LogisticalNeeds.Items[i].Value)
            @Html.HiddenFor(m => Model.LogisticalNeeds.Items[i].Text)<br />
        }
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.other_needs)
        @Html.EditorFor(m => m.other_needs, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        
    </div>

    <input type="submit" value="Save & Continue" class="btn btn-primary" />
    <a href="@Url.Action("Delete", new { Model.id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event request?');">Cancel Request</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        if ($("#food_drink[value='false']").is(":checked")) {
            $(".alert-secondary").hide();
        }
        $("#food_drink[value='true']").click(function() {
            if ($(this).is(":checked")) {
                $(".alert-secondary").show(300);
            }
        });
        $("#food_drink[value='false']").click(function() {
            if ($(this).is(":checked")) {
                $(".alert-secondary").hide(200);
            }
        });
    </script>
}