﻿@model List<EventAssessment.Models.EvtUnsubmitted>

@{
    ViewBag.Title = "Event Assessment";
}

<div class="jumbotron">
    <h1 class="display-3">Propose Event</h1>
    <p class="lead">
        Thank you for requesting to use a space in Joyner Library to host your event.
    </p>
    <p class="lead">
        Please fill out this form, which notifies library administration of your event details.
        Joyner Library provides space, and when applicable, space setup.  Preference is given
        to events that collaborate with library services, collections, and resources.
        </p>
    <p class="lead">
        The library administration will review your request and follow up within 48 hours.
    </p>

    @if (Model.Count > 0)
    {
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">You have existing, unsubmitted requests:</li>
            @foreach (var evt in Model)
            {
                <li class="list-group-item list-group-item">
                    <a href="@Url.Action("EditStepOne", new {evt.id})">@evt.title</a>
                </li>
            }

        </ul>
    }
    <hr />
    <p>
        <a class="btn btn-primary" href="@Url.Action("New")" role="button">
            Make a New Request
        </a>
        <a class="btn btn-secondary" href="@Url.Action("List")" role="button">
            View/Clone Submitted Requests
        </a>
    </p>
</div>
