﻿@model List<EventAssessment.Models.HomeListModel>
@{
    ViewBag.Title = "List";
}

<h2>Submitted Events</h2>
<hr />
@if (Model.Count > 0)
{
    foreach (var evt in Model)
    {
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle text-muted">@(evt.approved ? "Approved" : "Unapproved")</h6>
            </div>
            <div class="card-body">
                <h4 class="card-text"><a href="@Url.Action("View", "Home", new { id = evt.id} )">@evt.title</a></h4>
                @if (@evt.start_at.Date == @evt.end_at.Date)
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToShortTimeString()</p>
                }
                else
                {
                    <p class="card-text">@evt.start_at.ToString("D"), @evt.start_at.ToShortTimeString() - @evt.end_at.ToString("D"), @evt.end_at.ToShortTimeString()</p>
                }

            </div>
        </div>
        <br />
    }
}
else
{
    <p>You have no previously submitted events.</p>
}
