﻿@model EventAssessment.Models.EvtOne

@{
    ViewBag.Title = "Step 1 - Event Assessment";
}

@Html.Partial("_Steps", 0)

<h1>What & When</h1>
<hr />
<div class="alert alert-danger col-md-6" role="alert">
    Fields marked with and asterisk (*) are mandatory.
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.title) *
        @Html.EditorFor(m => m.title, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.sponsors) *
        @Html.EditorFor(m => m.sponsors, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.sponsors, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.name) *
        @Html.EditorFor(m => m.name, new { htmlAttributes = new { @class = "form-control col-md-3", @Value = ViewBag.Name } })
        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.email) *
        @Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control col-md-3", @Value = ViewBag.Email } })
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.phone) *
        @Html.EditorFor(m => m.phone, new { htmlAttributes = new { @class = "form-control col-md-3", @Value = ViewBag.Phone } })
        @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.faculty_staff) <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.faculty_staff, "true", new { @checked = "checked" })<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.faculty_staff, "false")<span class="ml-1 mr-3">No</span>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.startDateString) *
                @Html.EditorFor(m => m.startDateString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.startDateString, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.startTimeString) *
                @Html.EditorFor(m => m.startTimeString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.startTimeString, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.endDateString) *
                @Html.EditorFor(m => m.endDateString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.endDateString, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.endTimeString) *
                @Html.EditorFor(m => m.endTimeString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.endTimeString, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.need_setup) <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.need_setup, "None", new { Checked = "checked" })<span class="ml-1 mr-3">None</span>
        @Html.RadioButtonFor(model => model.need_setup, "ThirtyMinutes")<span class="ml-1 mr-3">30 minutes</span>
        @Html.RadioButtonFor(model => model.need_setup, "SixtyMinutes")<span class="ml-1 mr-3">1 hour</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.need_cleanup) <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.need_cleanup, "None", new { Checked = "checked" })<span class="ml-1 mr-3">None</span>
        @Html.RadioButtonFor(model => model.need_cleanup, "ThirtyMinutes")<span class="ml-1 mr-3">30 minutes</span>
        @Html.RadioButtonFor(model => model.need_cleanup, "SixtyMinutes")<span class="ml-1 mr-3">1 hour</span>
    </div>
    <div class="form-group mb-0">
        <label>Will the 1Card lock/unlock schedule need to be altered?</label> <span class="mr-2">*</span>
        @Html.RadioButtonFor(model => model.one_card_alter, "true", new { @checked = "checked" })<span class="ml-1 mr-3">Yes</span>
        @Html.RadioButtonFor(model => model.one_card_alter, "false")<span class="ml-1 mr-3">No</span>
    </div>
    <div class="form-group">
        <small class="text-muted d-block mb-1">If yes, please explain</small>
        @Html.EditorFor(m => m.one_card, new { htmlAttributes = new { @class = "form-control col-md-6" } })
        @Html.ValidationMessageFor(m => m.one_card, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Save & Continue" class="btn btn-primary" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/flatpickr")
    @Styles.Render("~/Content/flatpickr")
    <script type="text/javascript">
        $("#startDateString").flatpickr({
            dateFormat: "Y-m-d",
            minDate: "@DateTime.Now.ToString("yyyy-MM-dd")"
        });

        $("#startTimeString").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            minuteIncrement: 15
        });

        $("#endDateString").flatpickr({
            dateFormat: "Y-m-d",
            minDate: "@DateTime.Now.ToString("yyyy-MM-dd")"
        });

        $("#endTimeString").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K",
            minuteIncrement: 15
        });
    </script>
}