﻿@using EventAssessment.Models
@model ManageViewModel
@{
    ViewBag.Title = "Review Event";
}

<h2>Submitted Event</h2>
<hr />
<a href="@Url.Action("Clone", "Home", new { id = Model.EvtOne.id })" class="btn btn-secondary mb-3" onclick="return confirm('Are you sure you want to clone this event?');">Clone Event</a>
@if (Model.EvtFive.approved == true)
{
    if (Model.EvtFive.assessed == true)
    {
        <div class="alert alert-warning pb-0" role="alert">
            <p>Assessed:  @Model.EvtFive.assessed_date.Value.ToString("f")</p>
        </div>
    }
    <div class="alert alert-warning pb-0" role="alert">
        <p>Approved:  @Model.EvtFive.decision_date.Value.ToString("f")</p>
    </div>
}
<div class="alert alert-warning" role="alert">
    Submitted:  @Model.EvtFive.submitted.Value.ToString("f")
</div>

<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.title)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.title)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.sponsors)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.sponsors)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.name)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.name)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.email)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.email)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.phone)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.phone)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.faculty_staff)</dt>
    <dd class="col-sm-8">@(Model.EvtOne.faculty_staff ? "Yes" : "No")</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.start_at)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.start_at)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.end_at)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtOne.end_at)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.need_setup)</dt>
    <dd class="col-sm-8">@Model.EvtOne.need_setup</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtOne.need_cleanup)</dt>
    <dd class="col-sm-8">@Model.EvtOne.need_cleanup</dd>

    <dt class="col-sm-4">Event time including setup/cleanup</dt>
    <dd class="col-sm-8">
        @{
            var start = Model.EvtOne.need_setup == SetupCleanup.ThirtyMinutes ? Model.EvtOne.start_at.AddMinutes(-30) : Model.EvtOne.need_setup == SetupCleanup.SixtyMinutes ? Model.EvtOne.start_at.AddHours(-1) : Model.EvtOne.start_at;
            var end = Model.EvtOne.need_cleanup == SetupCleanup.ThirtyMinutes ? Model.EvtOne.end_at.AddMinutes(30) : Model.EvtOne.need_cleanup == SetupCleanup.SixtyMinutes ? Model.EvtOne.end_at.AddHours(1) : Model.EvtOne.end_at;
        }
        @if (start.Date == end.Date)
        {
            <b>@start.ToString("f") - @end.ToShortTimeString()</b>
        }
        else
        {
            <b>@start.ToString("f") - @end.ToString("f")</b>
        }

    </dd>
</dl>
<hr />
<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.description)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtTwo.description)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.priority_id)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtTwo.priority_id)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.supports_priority)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtTwo.supports_priority)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtTwo.gone_well)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtTwo.gone_well)</dd>
</dl>
<hr />
<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.est_attendance)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtThree.est_attendance)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.target_audience)</dt>
    <dd class="col-sm-8">
        @foreach (var c in Model.EvtThree.target_audience.Trim().ToCharArray())
        {
            switch (c)
            {
                case '1':
                    <text>Undergraduate Students; </text>
                    break;
                case '2':
                    <text>Graduate Students; </text>
                    break;
                case '3':
                    <text>Faculty/Staff; </text>
                    break;
                case '4':
                    <text>Community Members; </text>
                    break;
                case '5':
                    <text>K-12; </text>
                    break;
                case '6':
                    <text>Area Educators</text>
                    break;

            }
        }
    </dd>
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtThree.passport_event)</dt>
    <dd class="col-sm-8">@(Model.EvtThree.passport_event != null && Model.EvtThree.passport_event.Value ? "Yes" : "No")</dd>
</dl>
<hr />

<dl class="row">
    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.setup_id)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFour.setup_id)</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.food_drink)</dt>
    <dd class="col-sm-8">@(Model.EvtFour.food_drink != null && Model.EvtFour.food_drink.Value ? "Yes" : "No")</dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.logistical_needs)</dt>
    <dd class="col-sm-8">
        @foreach (var c in Model.EvtFour.logistical_needs.Trim().ToCharArray())
        {
            switch (c)
            {
                case '1':
                    <text>Welcome table; </text>
                    break;
                case '2':
                    <text>Food/drink tables; </text>
                    break;
                case '3':
                    <text>Microphone; </text>
                    break;
                case '4':
                    <text>Powerpoint/other presentation; </text>
                    break;
                case '5':
                    <text>Movie/film; </text>
                    break;
                case '6':
                    <text>Light background music; </text>
                    break;
                case '7':
                    <text>Other</text>
                    break;

            }
        }
    </dd>

    <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFour.other_needs)</dt>
    <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFour.other_needs)</dd>
</dl>
<hr />
<dl class="row">
    @if (Model.EvtOne.faculty_staff)
    {
        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.marketing_consult)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.marketing_consult != null && Model.EvtFive.marketing_consult.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.digital_marketing)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.digital_marketing != null && Model.EvtFive.digital_marketing.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.print_marketing)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.print_marketing != null && Model.EvtFive.print_marketing.Value ? "Yes" : "No")</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.other_assistance)</dt>
        <dd class="col-sm-8">@Model.EvtFive.other_assistance</dd>
    }
    else
    {
        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.marketing_contact)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(m => m.EvtFive.marketing_contact)</dd>

        <dt class="col-sm-4">@Html.LabelFor(m => m.EvtFive.university_calendar)</dt>
        <dd class="col-sm-8">@(Model.EvtFive.university_calendar.Value ? "Yes" : "No")</dd>
    }

</dl>


